
:root {
  --book-header-color: #AC0E33;
  --accent-color: #F0CEA7;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

h1 {
    text-align: center;
}

h2 {
    color: var(--book-header-color);
}


/******************** Header ********************/

nav ul {
    list-style: none;
    display: flex;
    justify-content: end;
    padding: 20px;

    border-top: solid 2px var(--accent-color);
    border-bottom: solid 2px var(--accent-color);
}

nav ul li {
    width: 80px;
}

nav ul li a {
    text-decoration: none;
    color: var(--book-header-color);
    text-align: center;
}

/******************** Main ********************/

main {
    border-top: solid 2px var(--accent-color);
}

.book {
    margin: 30px;
}

.book-info p  {
    text-align: right;
}

.book-main {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.book-main img {
    margin: auto;
}

/******************** Footer ********************/

footer {
    border-top: solid 2px var(--accent-color);
    text-align: center;
    margin-top: auto;
}

/******************** Media Query ********************/

@media (min-width: 600px) {
    main {
        border-top: none;
    }

    .book {
        display: grid;
        grid-template-columns: 30% 70%;
    }

    .book-info {
        padding-right: 30px;
        border-right: solid 2px var(--accent-color);
    }

    .book-main {
        padding-left: 30px;
    }
}