
@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Huninn&display=swap');

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #392B58;
  --secondary-color: #645E9D;
  --accent1-color: #99d5c9;
  --accent2-color: white;

  /* change the values below to your chosen font(s) */
  --heading-font: "Bagel Fat One", sans-serif;
  --paragraph-font: Huninn, sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: var(
    --primary-color
  ); /* headlines on a white background */
  --headline-color-on-color: white; /* headlines on a colored background */
  --paragraph-color-on-white: var(
    --primary-color
  ); /* paragraph text on a white background */
  --paragraph-color-on-color: white; /* paragraph text on a colored background */
  --paragraph-background-color: var(--primary-color);

  /* The colors for all of the numbers */
  --default-number-color: blue;
  --2: red;
}

h1 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
  text-align: center;
  font-size: 50pt;
}

#board {
    margin: auto;
    border: 2px blue solid;
    width: 80%;
    max-width: 500px;
    aspect-ratio: 1/1;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 5px;
    padding: 5px;
}

#board div {
    font-family: var(--paragraph-font);

    border: 2px black solid;
    /* width: 100%;
    height: 100%; */
    /* aspect-ratio: 1/1; */

    /* position: absolute;
    top: 100px;
    left: 100px; */

    /* Center Numbers */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    /* grid-row: 2;
    grid-column: 2; */
}
